:root {
    --primary-color: #f5ff9f;
    --primary-color-100: #D5CCFF;
    --primary-color-300: #7f66ff;

    --secondary-color: #025834;
    --secondary-color-400: #37fba9;
    --secondary-color-900: #01321e;

    --background-color: #0f0a3c;
    --surface-color: #0f0a3c;
    --nuetral-color: #ffed78;
    --neutral-color2: #ffed;
    --cream-color: #e0e0e0;

    --lobster-font: "Lobster Two", serif;
    --dm-font: "DM Sans", sans-serif;
  
}
.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  GI {
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    font-family: var(--dm-font);
    text-decoration: none;
}

html {
    background-color: var(--background-color);
    font-size: 16px;
}

.center-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: var(--nuetral-color);
    font-size: 2rem;
    /*text-transform: uppercase;*/
}

h2 {
    font-family: var(--lobster-font);
    color: var(--cream-color);
    font-size: 1.3rem;
    letter-spacing: 0.06rem;
}

p {
    color: var(--nuetral-color);
    font-size: 1.1rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0f0a3c;
}


.text-label {
    color: var(--background-color);
    background-color: var(--primary-color-100);
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0.8rem;
    font-size: 1.1rem;
}