/* small screens */
@media(max-width:640px) {
    html {
        font-size: 10px;
    }

    header {
        flex-direction: column;
    }

    .nav-options {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        margin: 1rem 0px;
    }

    h1 {
        font-size: 20px;
    }

    .menu-image img {
        max-width: 100%;
    }

    footer {
        padding: 1rem 0;
    }

    footer p {
        font-size: 1rem;
    }

    footer .social-icons img {
        width: 25px;
        margin: 0 0.3rem;
    }
}

/* tablets */
@media(min-width: 641px) and (max-width: 1007px) {
    html {
        font-size: 13px;
    }

    .logo {
        width: 100%;
        margin: 1rem 0px;
    }

    .menu-image img {
        max-width: 80%;
    }

    footer {
        padding: 1.5rem 0;
    }
    footer p {
        font-size: 1.1rem;
    }
    footer .social-icons img {
        width: 28px;
    }
}

/* large screen */
@media(min-width: 1008px) {
    html {
        font-size: 16px;
    }

    .logo {
        width: 100%;
        margin: 1rem 0px;
    }

    footer {
        padding: 2rem 0;
    }
    footer p {
        font-size: 1.2rem;
    }
    footer .social-icons img {
        width: 30px;
    }
}